.tos-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .tos-container h1 {
    text-align: center;
  }
  
  .tos-container h2 {
    margin-top: 20px;
  }
  
  .tos-container p {
    text-align: justify;
    margin-top: 10px;
  }
  