.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 100 !important;
    top: 0;
  }
  .btn, .btn-mobile {
    display: inline;
}
#logo {
  height: 60px; /* Or whatever height you prefer, but should be less than navbar's height */
  width: auto;
  transition: 0.5s; /* For a smooth transition on resizing */
  padding-right: 10px; /* To provide some spacing between the logo and any subsequent elements */
}

  .navbar-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 80px;
    max-width: 1500px;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {

    #logo {
      height: 40px; /* Resize the logo height for smaller screens */
  }

  .svg-inline--fa {
      color: white;
  }
    .fa-times {
      color: #fff !important;
      font-size: 2rem;
  }
  
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: -100%;
      justify-content: space-evenly;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-links {
      height: auto; /* We don't restrict the height so it can grow and take the necessary space */
        flex-grow: 1; /* This allows the links to grow and take up available space equally */
        display: flex;
        align-items: center; /* This centers the text vertically */
        justify-content: center;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      /* display: block; */
      position: absolute;
      z-index: 1000;
      top: 37%;  /* This positions the top of the icon at 60% down from the top of its container */
      right: 40px;
      font-size: 1.8rem;
      cursor: pointer;
      visibility: visible !important;
      opacity: 1 !important;
      display: block !important;
    }
  
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }