.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-top: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  transition: transform 0.3s ease;
}

.product:hover {
  transform: scale(1.05); /* Scales up the product div */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
}


.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.product h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.product-container a, 
.product-container a:visited, 
.product-container a:hover, 
.product-container a:active {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Keeps the text color consistent */
}

.product p {
  font-size: 24px;
  line-height: 1.5;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .product-container {
      padding: 20px;
  }

  .product a, .product a:visited, .product a:hover, .product a:active {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Optional: ensures that links use the color of the parent text */
  }

  .products-grid {
      grid-template-columns: 1fr;  /* Only one product per row on mobile */
      grid-gap: 30px;  /* Reduce gap for smaller screens */
  }

  .product {
      padding: 20px;
  }

  .product img {
      margin-bottom: 15px;
  }

  .product h2 {
      font-size: 28px;
      margin-bottom: 15px;
  }

  .product p {
      font-size: 20px;
  }
}


