* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  /* background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  /* background-image: url('/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/images/img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.services-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  padding-top: 80px; /* Increase top padding for more space */

}

.service-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px; /* Adjust as necessary */
  flex-direction: row; /* Default direction */
  margin-bottom: 50px; /* Adjust as necessary */
  margin-top: 50px;
}

/* .service-row-reverse {
  flex-direction: row-reverse; /* Reverse the image and text order */
/* } */


/* .service-row:nth-child(even) {
  flex-direction: row-reverse; /* Flip the image and text order on even rows 
}*/

.service-text,
.service-image {
  flex: 1;
  padding: 0 20px; /* Adjust as necessary */
}

.service-image img {
  width: 100%; /* Full width of the parent container */
  height: 315px !important; /* Fixed height for all images */
  object-fit: cover; /* Cover the container without stretching the image */
  border-radius: 5px; /* Optional: If you want rounded corners */
}

.service-text h2 {
  font-size: 2.5rem; /* Adjust as necessary */
  margin-bottom: 20px;
}

.service-text p {
  font-size: 1.25rem; /* Adjust as necessary */
  line-height: 1.6; /* Adjust for readability */
}

.service-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional for styled image corners */
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .service-row {
    flex-direction: column; /* Stack elements on mobile */
  }
  
  .service-image img {
    width: 100%; /* Full-width images on mobile */
    height: auto;
    margin-bottom: 20px;
  }

  .service-row:nth-child(odd) {
  flex-direction: column-reverse; 
  }

  .service-row:nth-child(even) {
    flex-direction: column; 
    }

    .service-text,
    .service-image {
      min-width: 100%;
    }
    
  
}